@model BookViewModel
<div class="col-sm-6 col-lg-4 p-3">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">
                @Model.Title
                <span class="badge badge-pill badge-primary" style="float:right">
                    <small>@Model.DateCreating.Year</small>
                </span>
            </h4>
            <div class="card-subtitle text-muted">@Model.Author</div>

            <div class="card-text">@Model.GenreTitle</div>
        </div>
    </div>
</div>