
@{
    ViewData["Title"] = "Ошибка";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ошибка!</h2>
<pre>

Возникла ошибка с кодом @ViewBag.ErrorCode.

Приносим извинения за неудобства!

Пожалуйста, обратитесь в службу поддержки для решения возникшей проблемы.
</pre>
