@{
    ViewData["Title"] = "Серверная ошибка";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ошибка!</h2>
<pre>

Возникла серверная ошибка.

Приносим извинения за неудобства!

Пожалуйста, обратитесь в службу поддержки для решения возникшей проблемы.
</pre>