@{
    ViewData["Title"] = "Серверная ошибка";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>Ошибка!</h2>
<pre>

Возникла серверная ошибка.

Приносим извинения за неудобства!

Пожалуйста, обратитесь в службу поддержки для решения возникшей проблемы или напишите о проблеме на почту <a href="mailto:m.vlasov@qpdev.ru">m.vlasov@qpdev.ru</a>
</pre>