<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/Basic.css" asp-append-version="true" />
    <link rel="icon" href="~/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="~/lib/Font-Awesome/web-fonts-with-css/css/fontawesome-all.min.css" />
    <script src="~/lib/Font-Awesome/svg-with-js/js/fontawesome-all.js"></script>
</head>
<body>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse navbar-custom fixed-top">
        <div class="navbar-collapse">
            <div class="row">
                <div class="col-7">
                    <!--Нужно изменить вывод меню в соответствии с ролью. Нужен отдельный ViewComponent + class MenuService-->
                        <ul>                            
                            @if (!User.IsInRole(RolesHelper.ADMIN_ROLE))
                            {
                                <li class="navbar-brand"><a asp-area="Market" asp-controller="Home" asp-action="ShowBooks">Books Market</a></li>
                            }
                            else
                            {
                                <li class="navbar-brand"><a asp-controller="Home" asp-action="Index">Books Market</a></li>
                                <li class="nav-item"><a asp-controller="Home" asp-action="Index" class="nav-link">Книги</a></li>
                                <li class="nav-item"><a asp-controller="Home" asp-action="ShowGenres" class="nav-link">Жанры</a></li>
                                <li class="nav-item"><a asp-controller="Home" asp-action="ShowUsers" class="nav-link">Пользователи</a></li>
                            }
                        </ul>
                    <!--Конец блока изменений-->
                </div>
                <div class="col-5">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <form method="post" class="d-inline-block float-right" asp-controller="Account" asp-action="LogOff">
                            <button class="btn" type="submit"><span class="fa fa-sign-out-alt"></span>Выход</button>
                        </form>
                        <p class="d-inline-block mr-2 mt-2 mb-0 float-right">@User.Identity.Name</p>
                        @if (!User.IsInRole(RolesHelper.ADMIN_ROLE))
                        {
                            <div class="float-right mr-3">
                                @await Component.InvokeAsync("CartSummary")
                            </div>
                        }
                    }

                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid main-container mt-5">
        @RenderBody()
    </div>
    <div class="navbar navbar-custom fixed-bottom">
        <footer>
            <p>©@DateTime.Now.Year - BooksMarket</p>
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                    asp-fallback-src="~/lib/jQuery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery">
            </script>
            @RenderSection("Footer", false)

        </footer>
    </div>

</body>
</html>