@model TestAppAspCore.ViewModels.ActionBooksPagesViewModel
@{
    ViewData["Title"] = "Создать книгу";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <br />
    <form asp-controller="Book" asp-action="Create" asp-antiforgery="true" method="post">     
        <div class="container">
            <div class="row">
                <div class="offset-2 col-7">
                    <h2>Создание книги</h2>
                    <div class="validation" asp-validation-summary="ModelOnly" />
                    <div class="form-group">
                        <label asp-for="Book.Title" class="control-label"></label><br />
                        <input type="text" asp-for="Book.Title" class="form-control" />
                        <span asp-validation-for="Book.Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Book.Author" class="control-label"></label><br />
                        <input type="text" asp-for="Book.Author" class="form-control" />
                        <span asp-validation-for="Book.Author" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Book.GenreId" class="control-label"></label><br />
                        <select asp-for="Book.GenreId" asp-items="Model.Genres" class="custom-select">
                            <option selected="selected" value="">Выберите жанр</option>
                        </select>
                        <span asp-validation-for="Book.GenreId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Book.DateCreating" class="control-label"></label><br />
                        <input type="date" asp-for="Book.DateCreating" class="form-control" />
                        <span asp-validation-for="Book.DateCreating" class="text-danger"></span>
                    </div>
                    <input name="prevPageUrl" type="hidden" value="@Model.PrevPageUrl" />
                    <input type="submit" value="Создать" class="btn btn-lg" />
                    <br /><br />
                    <a href="@Model.PrevPageUrl">Назад</a>
                </div>
            </div>
        </div>
    </form>
</div>
@section Footer{
    @Html.Partial("_ValidationScriptPartialView")
}


