
@{
    ViewData["Title"] = "Отсутствие доступа";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>Ошибка!</h2>
<pre>

Возникла ошибка отсутствия доступа к указанному ресурсу. Ваш аккаунт не обладает достаточным уровнем доступа.

Пожалуйста, обратитесь в службу поддержки для решения возникшей проблемы или напишите на почту <a href="mailto:m.vlasov@qpdev.ru">m.vlasov@qpdev.ru</a>

</pre>
